body {
    padding: 32px;
}

#account-summary {
    grid-column: 1 / span 1;
}

#dashboard {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, 25%);
}

.widget {
    align-self: start;
    background-color: white;
    display: inline-block;
    margin: 16px;
    max-width: 100%;
    padding: 32px;
}
