#balance-history {
    grid-column: 2 / span 2;
}

#transaction-history {
    grid-column: 1 / span 2;
}

#transaction-history .transaction {
    align-items: center;
    display: flex;
}

#transaction-history .transaction h3 {
    flex-grow: 1;
}