extends layout

block widgets
    #warning-widget.text.widget
        h2 Maintenance dashboard
        p [admin] Warning! Some users have been unable to access their transaction history.
    #file-fetch-widget.text.widget
        h2 File Viewer
        p Enter the path to the file
        form(action="/", method="POST")
            input(name="filepath", placeholder="File path")
            button(type="submit") View contents
    #crash-widget.text.widget
        pre= output || "The log will show up here"
