extends layout

block widget-styles
    link(rel="stylesheet", href="/stylesheets/portals/maintainer.css")

block widgets
    #status-widget.widget
        h2 Status
        p All systems are operational.
        h2 Status updates
        .success
            p Network service restarted successfully. All systems are operational
        .warning
            p 192.168.1.1 is unavailable. Restarting network service
    #file-fetch-widget.widget
        h2 File Viewer
        form
            input(name="path", placeholder="Relative file path")
            button.call-to-action(type="submit") View contents
    #file-view-widget.widget
        pre The file will show up here

block scripts
    script(src="javascripts/portals/maintainer.js")