extends layout

block widget-styles
    link(rel="stylesheet", href="/stylesheets/portals/standard.css")

block widgets
    .widget#balance-history
        canvas
    .widget#credit-card
        h2 Credit card usage
        canvas
    .widget#transaction-history
        h2 Transaction History
        .transaction
            h3 Caesar Cipher Salad [jotqfdu uif mphjo qbhf]
            p $1.00


block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js")
    script(src="/javascripts/portals/standard.js")