body {
    padding: 32px;
}

#account-summary {
    grid-area: summary;
}

#account-summary button, #account-summary .button {
    margin-right: 16px;
}

#balance-summary {
    grid-area: balance;
}

#card-description {
    grid-area: credit;
}

#crash-widget {
    grid-area: stack;
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-areas:
            "summary balance balance credit"
            "stack stack stack .";
    min-height: 100vh;
}

.widget {
    align-self: start;
    background-color: white;
    display: inline-block;
    margin: 16px;
    max-width: 100%;
}

.widget.text {
    padding: 32px;
}